<%- include('../layouts/userheader.ejs') -%>


  <div class="container">
    <div class="row">
      <h4></h4>

      <div class=" center-div container-fluid p-5">

        <div class="col-md-8 mb-4" style="width: 80%; margin : 0">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Billing details</h5>
            </div>
            <div class="card-body">
              <form action="/payment" method="post">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="form7Example1"> Name</label>
                      <input type="text" id="form7Example1" class="form-control" value="<%= user.name %>" disabled />
                    </div>
                  </div>
                  <!-- <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form7Example2" class="form-control" />
                          <label class="form-label" for="form7Example2">Last name</label>
                        </div>
                      </div>
                    </div> -->



                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form7Example5">Email</label>
                    <input type="email" id="form7Example5" class="form-control" value="<%= user.email %>" disabled />

                  </div>

                  <!-- Number input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form7Example6">Phone</label>
                    <input type="number" id="form7Example6" class="form-control" value="<%= user.mobile %>" disabled />

                  </div>

                  <!-- Text input -->
                  <% for(let i=0;i<addr.length; ++i ) { %>
                    <div class="form-check mb-1">
                      <input class="form-check-input" type="radio" name="delivery-address" value="<%= addr[i] %>"
                        id="flexRadioDefault1">
                      <label class="form-label" for="form7Example4">Address <%= i+1 %></label>
                      <textarea name="address" value="<%= addr[i].address %>" class="form-control"
                        disabled><%= addr[i] %></textarea>
                    </div>

                    <% } %>
                      <div class="form-check mb-5">
                        <input class="form-check-input" type="radio" name="delivery-address" id="flexRadioDefault2"
                          checked>
                        <label class="form-check-label" for="RadioDefault2">
                          Deliver to another address
                        </label>
                        <textarea class="form-control" id="address-another" name="newaddress" rows="3"> </textarea>
                      </div>
                      <input type="hidden" name="del-addr">

                      <button type="submit" id="purchase" class="btn btn-success btn-lg btn-block" style="width: 25%;" >
                        Make purchase
                      </button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {

        var addr = document.querySelectorAll('input[name="address-delivery"]')
        var addressfield = document.getElementsByName("new-address")
        var tempAddress = ""
        for (var i = 0; i < addr.length; i++) {
          addr[i].addEventListener("change", addressHandler);
        }
        function addressHandler() {
          if (this.id === "address-another") {
            addressfield.disabled = false
            tempAddress = addressfield.value
            if(addressfield.value.trim()==='')
            {
              document.getElementsByName('del-addr').value = "SSSSSSSSSS"
              alert("no value")
            }
          } else {
            tempAddress = addr[i].value;
            addressfield.disabled = true
          }
          document.getElementsByName('del-addr').value = tempAddress
        }

       document.querySelector("form").addEventListener("submit", function (event) {
        console.log("in def 222")
        var newaddress= document.getElementById('address-another')
          if (document.querySelector('input[name="delivery-address"]:checked').id === "flexRadioDefault2") {

            console.log("in def 222")
            if (newaddress.value.trim() === "" ) {
              alert("Please provide a delivery address.");
              console.log("Please provide a delivery address.")
              //event.preventDefault();
            } else {

              tempAddress = newaddress.value;
            }
          }
        });

      })

      
    $(document).ready(function () {
      $('form').on('submit', function (event) {
        event.preventDefault();   
        if (document.querySelector('input[name="delivery-address"]:checked').id === "flexRadioDefault2")
         {var deladdr=document.getElementById('address-another')
          var deliveryaddr=document.getElementsByName("newaddress")
          if(deladdr.value.trim==="" || deliveryaddr.value===undefined)
          {
            Swal.fire({
              icon: 'info',
              title: 'Bloom Basket',
              text: 'Enter Address details',
            });            
          }
          else
          { this.submit()
          }
        }
        else
        {
           this.submit() 
        }
      })
    })
    </script>

    <%- include('../layouts/footer.ejs') -%>